# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Base de datos (se regenera con el notebook)
data/ecomarket.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
